# development | staging | production
VITE_SERVER="development"

VITE_API_URL_DEV=https://api-dev.fotogrit.id
VITE_API_URL_STAGING=https://api-s.fotogrit.id
VITE_API_URL_PROD=https://api.fotogrit.id

VITE_API_SCORING_URL_STAGING=htps://api-basketball5x5-s.fotogrit.id
VITE_API_SCORING_URL_DEV=htps://api-basketball5x5-dev.fotogrit.id
VITE_API_SCORING_URL_PROD=https://api-statgrit.fotogrit.id

VITE_URL_FTP=ftp://202.157.177.176

VITE_URL_WEB_APP_DEV=https://oldweb-dev.fotogrit.id
VITE_URL_WEB_APP_STAGING=https://oldweb.fotogrit.id
VITE_URL_WEB_APP_PROD=https://oldweb.fotogrit.id

VITE_ALLOWED_HOSTS=cms-dev.fotogrit.id,cms-s.fotogrit.id,cms.fotogrit.id
